<!DOCTYPE html>

<head>
  <title>JS/TS Documentation Examples</title>
</head>

<body>

  <ul>
    {{#each examples as |ex|}}
    <li>
      <h4>{{ex.name}}</h4>
      <a href="https://github.com/mike-north/js-documentation-cases/tree/master/cases/{{ex.name}}">Source</a> |
      <b>Docs</b>
      <ul>
        <li><a href="./typedoc/{{ex.name}}/">TypeDoc</a></li>
        <li><a href="./esdoc/{{ex.name}}/">ESdoc</a></li>
        <li><a href="./jsdoc/{{ex.name}}/">JSDoc</a></li>
        <li><a href="./yuidocs/{{ex.name}}/">YUIdocs</a></li>
        <li><a href="./docco/{{ex.name}}/src/">Docco</a></li>
        <li><a href="https://github.com/mike-north/js-documentation-cases/blob/master/docs/ts-docs-gen/{{ex.name}}/api/index.md">ts-docs-gen</a></li>
        <li>API Extractor -
          <a href="https://github.com/mike-north/js-documentation-cases/blob/master/cases/{{ex.name}}/etc/js-documentation-cases.api.ts">Certified
            public API</a> |
          <a href="https://github.com/mike-north/js-documentation-cases/blob/master/cases/{{ex.name}}/tmp/js-documentation-cases.api.ts">Detected
            public API</a> |
          <a href="https://github.com/mike-north/js-documentation-cases/blob/master/cases/{{ex.name}}/dist/js-documentation-cases.api.json">Type
            information</a>
        </li>
      </ul>
    </li>
    {{/each}}
  </ul>
</body>